@mixin width-height($w: auto, $h: auto) {
    width: $w;
    height: $h;
}

@mixin font($fs: 16px, $fw: inherit, $lh: 1.15, $ls: 0.04em) {
    font-size: $fs;
    font-weight: $fw;
    // line-height: $lh / $fs;
    letter-spacing: $ls;
}
