<div class="backdrop is-hidden" franchise-modal>
  <div class="modal-container franchise-modal__container">
    <button class="modal-close-btn" type="button" franchise-modal-close>
      <svg class="modal-close-btn__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="title"
      >Thank you for your interest in owning an Ice Cream shop</p>
    <p class="franchise-modal__text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="franchise-modal-form">
      <input
        class="modal-form__input franchise-modal-form__input"
        type="text"
        placeholder="Name"
        pattern="[a-zA-Zа-яА-яіІїЇ]+"
        name="user_name"
        minlength="3"
        required
      />
      <input
        class="modal-form__input franchise-modal-form__input"
        type="tel"
        placeholder="Phone"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="xxx-xxx-xx-xx"
        name="user_phone"
        required
      />
      <input
        class="modal-form__input franchise-modal-form__input"
        type="email"
        placeholder="Email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        title="example@mail.com"
        name="user_email"
        required
      />
      <textarea
      class="modal-form__textarea frachise-modal-form__textarea"
        placeholder="Comment"
        name="user_message"
      ></textarea>
      <button class="modal-form__button" type="submit">Submit</button>
    </form>
  </div>
</div>
