<section id="hero" class="hero">
  <div class="hero__container">
    <h1 class="hero__title _anim-items _anim-no-hide">
      ice cream made with
      <span class="hero__title_passion">passion</span>
    </h1>
    <ul class="hero__anchor-list">
      <li class="anchor-list__item">
        <a class="anchor-list__link anchor-list__link_products" href="#products"
          >Products</a
        >
      </li>
      <li class="anchor-list__item anchor-list__item--yellow">
        <a class="anchor-list__link anchor-list__link_about" href="#about"
          >How it’s made?</a
        >
      </li>
    </ul>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <div class="hero-ice-cream_wrap">
      <!-- ============ice cream======== -->
      <span class="hero-ice-cream_bg"></span>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero-ice-cream-desktop.png    1x,
            ./images/hero-ice-cream-desktop@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero-ice-cream-tablet.png    1x,
            ./images/hero-ice-cream-tablet@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/hero-ice-cream-mobile.png    1x,
            ./images/hero-ice-cream-mobile@2x.png 2x
          "
          type="image/png"
        />

        <img
          src="./images/hero-ice-cream-desktop.png"
          alt="ice cream picture"
          class="hero-ice-cream"
        />
      </picture>

      <!-- ============mom======== -->
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero-ice-cream-desktop-mom.png    1x,
            ./images/hero-ice-cream-desktop-mom@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero-ice-cream-tablet-mom.png    1x,
            ./images/hero-ice-cream-tablet-mom@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/hero-ice-cream-mob-mom.png    1x,
            ./images/hero-ice-cream-mob-mom@2x.png 2x
          "
          type="image/png"
        />

        <img
          src="./images/hero-ice-cream-desktop-mom.png"
          alt="ice cream picture"
          class="hero-ice-mom"
        />
      </picture>
      <!-- ============son======== -->
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero-ice-cream-desktop-son.png    1x,
            ./images/hero-ice-cream-desktop-son@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero-ice-cream-tab-son.png    1x,
            ./images/hero-ice-cream-tab-son@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/hero-ice-cream-mob-son.png    1x,
            ./images/hero-ice-cream-mob-son@2x.png 2x
          "
          type="image/png"
        />

        <img
          src="./images/hero-ice-cream-desktop-son.png "
          alt="ice cream picture"
          class="hero-ice-son"
        />
      </picture>
      <!-- ============dad======== -->
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero-ice-cream-desktop-dad.png    1x,
            ./images/hero-ice-cream-desktop-dad@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero-ice-cream-tab-dad.png    1x,
            ./images/hero-ice-cream-tab-dad@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/hero-ice-cream-mob-dad.png    1x,
            ./images/hero-ice-cream-mob-dad@2x.png 2x
          "
          type="image/png"
        />

        <img
          src="./images/hero-ice-cream-tab-dad.png  "
          alt="ice cream picture"
          class="hero-ice-dad"
        />
      </picture>
    </div>

    <!-- ============ice cream plate======== -->
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero-plate-desktop.png     1x,
          ./images/hero-plate-desktopt@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-plate-tablet.png    1x,
          ./images/hero-plate-tablet@2x.png 2x
        "
        type="image/png"
      />

      <img
        src="./images/hero-plate-desktop.png"
        alt="ice cream plate"
        class="hero-plate"
      />
    </picture>
    <!-- ============dots======== -->
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero-dots-desktop.png    1x,
          ./images/hero-dots-desktop@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero-dots-tablet.png    1x,
          ./images/hero-dots-tablet@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 768px)"
        srcset="
          ./images/hero-dots-mobile.png    1x,
          ./images/hero-dots-mobile@2x.png 2x
        "
        type="image/png"
      />

      <img
        src="./images/hero-dots-desktop.png"
        alt="dotted wave"
        class="hero-dots"
      />
    </picture>

    <ul class="hero-shop-list">
      <li class="hero-shop-list__item">
        <p class="hero-shop-list__number">16</p>
        <p class="hero-shop-list__desc">cafes</p>
      </li>
      <li class="hero-shop-list__item">
        <p class="hero-shop-list__number">23</p>
        <p class="hero-shop-list__desc">food trucks</p>
      </li>
    </ul>
  </div>
</section>
