<div class="backdrop is-hidden" location-modal>
    <div class="modal-container location-modal__container">
        <button class="modal-close-btn" type="button" location-modal-close>
            <svg class="modal-close-btn__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="location-modal__title">Our Location</h2>
        <div class="location-modal__iframe">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d165489.11721450306!2d34.417160464588065!3d49.602134576828256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNGX0L3QsCwgMzYwMDA!5e0!3m2!1suk!2sca!4v1665446652517!5m2!1suk!2sca"
                style="border: 0" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <a href="https://goo.gl/maps/5uZFWZjyA3459hLX6" target="_blank" class="button-yellow location-modal__link">
                Open Map
            </a>
        </div>
    </div>
</div>