<section id="products" class="section products__section">
    <div class="products__container">
        <p class="products__label _anim-items _anim-no-hide">100% natural</p>
        <h2 class="products__title _anim-items _anim-no-hide">products</h2>
        <ul class="products__list">
                <li class="products__item products__item--green  _anim-items _anim-no-hide">
                    <div class="products__circle products__circle--green"></div>
                    <h3 class="products__name cream">ice cream</h3>
                    <p class="products__description products__description--green">Soft ice cream with a delicate taste. Made with milk, cream, sugar
                        and natural stabilizer </p>
                    <button product1-modal-open type="button" class="products__btn">
                        <svg class="products__icon" width="40" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg></button>
                </li>
                <li class="products__item products__item--yellow _anim-items _anim-no-hide">
                    <div class="products__circle products__circle--yellow"></div>
                    <h3 class="products__name coffee">ice coffee</h3>
                    <p class="products__description products__description--yellow">Fragrant invigorating drink created from 100% natural ingredients
                        without the use of preservatives and flavor enhancers </p>
                    <button product2-modal-open type="button" class="products__btn">
                        <svg class="products__icon" width="40" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg></button>
                </li>
                <li class="products__item products__item--brown _anim-items _anim-no-hide">
                    <div class="products__circle products__circle--brown"></div>
                    <h3 class="products__name milkshake">milkshakes</h3>
                    <p class="products__description products__description--brown">Sweet drinks based on milk and ice cream, supplemented with syrups,
                        fruits, berries and other sweets of your choice </p>
                    <button product3-modal-open type="button" class="products__btn">
                        <svg class="products__icon" width="40" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg></button>
                </li>
        </ul>
    </div>
</section>