<div class="backdrop is-hidden" read-modal>
    <div class="read-more-modal__container modal-container">
        <button class="modal-close-btn" type="button" read-modal-close>
            <svg class="modal-close-btn__icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="read-more-modal__title">How it works?</h2>
        <div class="read-more-modal__video">
            <iframe class="video" src="https://www.youtube.com/embed/bCrz03-OJtY" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <p class="read-more-modal__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, accusantium
            harum laborum ad incidunt vel
            molestias quo voluptate optio voluptas exercitationem consequuntur blanditiis maiores in aliquam nihil.
            Tenetur,
            quod facere!</p>
    </div>
</div>