 .modal-close-btn {
     position: absolute;
     top: 20px;
     right: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: transparent;
     border: transparent;
     padding: 0;

     transform: scale(1);
     transition: transform 500ms ease-in-out;

     &:hover {
         transform: scale(1.5);
     }
 }