.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--white-content-color);
    border: 2px solid var(--yellow-content-color);
    color: var(--black-content-color);
    border-radius: 10px;
}

