.modal-products {
  padding: 28px 20px 32px 20px;
  color: var(--black-content-color);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) translateX(0%);
  transition: var(--transition-modal-window);
  overflow-y: auto;
}

.backdrop.is-hidden {

  .modal-products {
    transform: translate(-50%, -50%) translateX(-50%);
  }
}

.button-btn {
  padding: 12px 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;

  border-radius: 10px;
  border: none;

  color: var(--black-content-color);
  background-color: var(--yellow-content-color);
  transition: background-color 400ms var(--timing-function),
    color 400ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--green-content-color);
  }

  &:focus {
    color: var(--white-content-color);
  }
}


.modal-products-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-products-form__title {
  margin-bottom: 33px;
  font-family: 'Seymour One';
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.modal-products-form__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;
}

.modal-products-form-circle__item {
  position: relative;
  width: 130px;
  height: 130.6px;
  margin-bottom: 24px;
  border-radius: 50%;
  background: linear-gradient(0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)),
    var(--white-product-modal-color);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal-products__circle--green {
  position: absolute;
  width: 130px;
  height: 130.6px;
  left: 0;
  top: -10%;
  z-index: 2;
  border-radius: 50%;
  background-image: url('../images/products-modal-ice-cream-mobile.png');
  background-size: cover;
  background-position: center;
}

.modal-products-form__list {
  display: flex;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.modal-products-form__item {
  position: relative;
  width: 53px;
  height: 72px;
  border: 2px solid var(--green-product-border-color);
  border-radius: 40px;
}

.modal-products-form__vitamins {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 6%;
  top: 0;
  z-index: 2;
  border-radius: 50%;
  background: var(--green-products-bg-color);
  border: 2px solid var(--green-products-bg-color);
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.modal-products-form__value {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;
  transform: translateY(25%);
  align-items: center;
  text-align: center;
}

.modal-products-form__text {
  font-family: 'Montserrat';
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;
  transform: translateY(150%);
  align-items: center;
  text-align: center;
  color: #131313;
}

.ingridient__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  margin-bottom: 48px;
}

.ingridient__item {
  display: flex;
  justify-content: space-between;
}

label.modal-product-form__label {
  width: 100%;
}

@media screen and (max-width: 479px) {

  .modal-products {
    position: absolute;
    width: 90%;
    height: 75%;
    top: 50%;

  }

  .modal-products-form__labels {
    max-width: 480px;
  }

  .ingridient__item {
    min-width: 240px;
  }

}

@media screen and (min-width: 480px) {

  .modal-products {
    padding: 28px 5px;
    width: 450px;
  }

  .modal-products-form__labels {
    max-width: 368px;
  }

  .ingridient__item {
    min-width: 368px;
  }

  .modal-products__circle--green {
    background-image: url('../images/products-modal-ice-cream-desktop.png');
    background-size: cover;
    background-position: center;
  }

}

@media screen and (min-width: 768px) {

  .modal-products {
    width: 568px;
  }

  .ingridient__item {
    min-width: 488px;
  }

}