.sections-bg-image {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to bottom,
      transparent 0% 44.8%,
      var(--green-bg-color) 44.8% 100%
    ),
    url('../images/ice-cream-bg4.jpg');

  background-repeat: no-repeat;
  background-position: center 111px;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767x) {
  .sections-bg-image {
    background-image: linear-gradient(
        to bottom,
        transparent 0% 44.8%,
        var(--green-bg-color) 44.8% 100%
      ),
      url('../images/ice-cream-bg4@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .sections-bg-image {
    background-image: linear-gradient(
        to bottom,
        var(--green-bg-color) 0% 11%,
        transparent 11% 75.7%,
        var(--green-bg-color) 75.7% 100%
      ),
      url('../images/ice-cream-bg4.jpg');
    background-position: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .sections-bg-image {
    background-image: linear-gradient(
        to bottom,
        var(--green-bg-color) 0% 11%,
        transparent 11% 75.7%,
        var(--green-bg-color) 75.7% 100%
      ),
      url('../images/ice-cream-bg4@2x.jpg');
  }
}
@media screen and (min-width: 1200px) {
  .sections-bg-image {
    background-image: linear-gradient(
        to bottom,
        var(--green-bg-color) 0% 5.6%,
        transparent 5.6% 64%,
        var(--green-bg-color) 64% 100%
      ),
      url('../images/ice-cream-bg4.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .sections-bg-image {
    background-image: linear-gradient(
        to bottom,
        var(--green-bg-color) 0% 5.6%,
        transparent 5.6% 64%,
        var(--green-bg-color) 64% 100%
      ),
      url('../images/ice-cream-bg4@2x.jpg');
  }
}
